
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-center w3-padding-16">Mes recettes</div>
</div>
<% @recettes.each do |recette| %>
    <h2> <%= recette.titre %>  </h2>
    <b>Étapes:</b> <%= recette.etapes %> <br />
    <b>Ingrédients:</b> 
    <% recette.ingredients.each do |i| %> 
        <%= i.recette_ingredients[0].quantite.to_s + i.recette_ingredients[0].unite + i.nom  + ", " %>
    <% end %>
    <br>
    <%= link_to "edit", edit_recette_path(recette) %>
    
<% end %>