<!--Jérémy Bernard 08/12/2020-->
<h1> <%= @recettes.titre %> </h1>
<b> Créateur: </b><%= @recettes.user.nom + " " + @recettes.user.prenom%><br/>
<b>Étapes:</b> <%= @recettes.etapes %> <br/>
<b>Ingrédients:</b>
<% @recettes.ingredients.each do |i| %> 
    <%= i.recette_ingredients[0].quantite.to_s + i.recette_ingredients[0].unite + " " + i.nom + ", " %>
<% end %>