    <!-- Jeremy Bernard 10/12/2020 -->

  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-center w3-padding-16">Acceuil</div>
</div>

<% @recettes.each do |recette| %>
    <h2> <%= recette.titre %>  </h2>
    <b>Étapes:</b> <%= recette.etapes %> <br />
    <b>Ingrédients:</b> 
    <% recette.ingredients.each do |i| %> 
        <%= i.recette_ingredients[0].quantite.to_s + i.recette_ingredients[0].unite + i.nom  + ", " %>
    <% end %>
    <br>
        <%= image_tag recette.img, style: "width:15%"%>

<% end %>